<%- include('./partials/header') %>

<div>
    <img id="background" src="/images/wal1.jpg" alt="background GTA Vice City d'une voiture sur une coline qui surplomb une ville">
  </div> 
  

  <h1 id="main_title">My Retro World</h1>

  

  <div class="home_description">
    <h3>Bienvenue dans mon Univers Retro !</h3>
    <p>Tu trouveras ici tout mon univers retro. C'est en quelque sorte mon trésor. Tout ce que je possède est répertorié. N'hésites pas à parcourir le site pour découvrir tous mes joyaux !</p>
  </div>

  


<%- include('./partials/footer') %>


